<p>
inside CMS.tt : [% GET category %]
</p>

[% PROCESS "cms/$category/index.tt" %]

<p>I am Back!!!</p>

[% FOREACH my_name IN CMS_list %]
<br>
<br>
<h2>[% my_name %]<h2>
<br>
[% PROCESS "cms/$category/$my_name" _ '.tt' %]
<br>
[% END %]

<p>
and processed index.tt
</p>
