[%
    SET CMS.index = {
        title = "Tickets",
        intro = "Find your ticket below ...",
        items = [
        ],
        texts = [
           "We want you to enjoy the conference, but a good place to sleep is
            also very important.",
            
           "Below, you will find some recommendations and useful information to
            book your place.",
        ],
    }
%]
