html,body {
    height:100%;
}
body{
    margin:0;
  color: #232323;
}
.input-link {
  border: 0;
  margin: 0;
  padding: 0;
  display: inline;
  background-color: transparent;
  color: inherit;
}
#page {
    width:100%;
    height:100%;
    display:table;
    margin:0 auto;
    font-size: 1.3em;
}
#page-body {
    width:100%;
    display:table-row;
}

#page-content {
}
/*     padding: 40px 0; */

#main-menu .jumbotron {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
#page-footer {
    width:100%;
    overflow:hidden; /*for FF on Windows 7*/
    display:table-footer-group;
}
#page-footer .holder {
    height:1%;
    display:table-row;
}
#page-footer .navbar {
    border-radius: 0;
    margin-bottom: 0;
    padding-top: 20px;
    border-left: 0;
    border-right: 0;
}
#page-footer .frame { display:table-cell;}
/* FOR IE6/7 */
/*
#page-body {min-height:100%;}
* html #page-body { height:100%;}
#page-body .holder {padding-bottom:expression(document.getElementById("footer").offsetHeight + "px");}
#page-footer {
    position:relative;
    margin-top:expression(- this.offsetHeight + "px");
}
*/

@media(max-width:767px) {
  .table-mobile thead { display: none }
  .table-mobile tbody tr td { display: block !important }
  .table-mobile tbody tr td:not(:first-child) { border: 0 }
}
.table .act-description label {
  display: inline;
}
p.message {
  padding: 50px 0;
}

/*~------------------------------------------------------------------*/
/* Timetable colours and styling                                     */
/*~------------------------------------------------------------------*/
.table-schedule td.center {
  text-align: center;
}
.table-schedule td {
  border: 0 !important;
}
.venue .alert {
  background-color: #AA0A0A;
}
.out .alert {
  background-color: #EEEEEE;
}
.r0 .alert {
  background-color: #FFD3D3;
}
.r1 .alert {
  background-color: #D3D3D3;
}
.r2 .alert {
  background-color: #D3D3D3;
}
.r3 .alert {
  background-color: #D3D3D3;
}
.r4 .alert {
  background-color: #D3D3D3;
}
.r5 .alert {
  background-color: #D3D3D3;
}
.mtbutton {
  cursor:pointer;
  vertical-align: middle;
}
.starcount {
  font-size: small;
}

#table-schedule > thead > tr > th, 
#table-schedule > tbody > tr > th, 
#table-schedule > tfoot > tr > th, 
#table-schedule > thead > tr > td, 
#table-schedule > tbody > tr > td, 
#table-schedule > tfoot > tr > td
{
  padding: 1px;
}

#table-schedule > tbody > tr .header {
  padding-right:0.3em;
}

/* yapc2017 */

/* === Customizations of bootstrap3 templates === */
.page-title h1 {
  border-radius:    20px;
  margin-top:		20px; /* don't cover menu */
  margin-bottom: 	20px;
  padding-top:		20px;
  padding-bottom:	20px;
  text-align:center;
  background-color:#e0e0e0;
  font-family: "Raleway", 'sans-serif';

}

/* === Customizations in menu === */
/*   under #ext_menu-0 for mobirise  */
/*   under #main-menu for bootstrap3 */

#space-for-menu {
  margin-top: 80px; /* menu must not overlap content */
}

/* create bit more space for menu on bigger screens */
@media (min-width: 768px)  {
  #ext_menu-0 .container {
	padding-left: 0px;
  }
}

/* make bootstrap3 menu equally high as mobirise menu */
/* interferes with mobile menu, so larger screens only! */
@media (min-width: 768px)  {
  #main-menu .navbar-brand {
    height: 90px;
    padding-top:35px;
  }
  
  #main-menu .navbar-nav {
    height: 90px;
    padding-top:20px;
  }
}

#ext_menu-0 .link {
  font-size: 0.9rem;
}

#main-menu {
  background-color: #282828;
}

#main-menu .navbar-nav > li > a ,
#main-menu .navbar-header a,
#ext_menu-0 a 
{
  color: #fff;
  font-family: "Raleway", 'sans-serif';
}

#main-menu .navbar-nav > li > a ,
#main-menu .navbar-header a
{
  font-size:   1.4rem;
  font-weight: normal;
}

#main-menu .navbar-nav > li > a:hover ,
#main-menu .navbar-nav > li > a:focus ,
#main-menu .navbar-header a:hover,
#main-menu .navbar-header a:focus,

#ext_menu-0 .bg-color.transparent .link:hover,
#ext_menu-0 .bg-color.transparent .link:focus,
#ext_menu-0 .link:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .navbar-caption:hover,
#ext_menu-0 .navbar-caption:focus
{
  color: #fe0000;
}
/*  color: #b8312f; */
/* toneelschoolposter: #ed1b24 */
/* theos team-ontwerp: #b60300 */

.amsterdam_red {
  color: #fe0000;
}

.amsterdam_red_bg {
  background-color: #aa0a0a;
}

.navbar-static-top {
  border-width: 0;
}

.nav-dropdown ,
.navbar-dropdown .navbar-caption
{
  font-family: "Raleway", 'sans-serif';
  font-weight: normal;
}

.nav-dropdown-sm .dropdown-item {
  /* Make sure in mobile menu, menu items are slightly indented */
  /* Need to override !important from assets/dropdown/css/style.css */
  padding-left: 3em !important;
}

/* --- Customizations in frontpage sections --- */

/* Every section needs 100px top margin because of menu */
.frontpage-section section {
  margin-top:100px;
}

/* Default in sections is dark text on bright background */
.frontpage-sections section {
  color: #232323;
}

/* add this class when background is dark */
.text-on-dark {
  color:white;
}


/*   background-size: cover; */

#venue_intro .mbr-section-title, #venue_intro p {
    color: #fff;
}

/* select appropriate size and position of background picture for banner */

@media (max-width: 767px)  {
  #banner {
  margin-top:  -150px;
  padding-top: 0px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 0px;
  background: url(../img/gevels-768.jpg) no-repeat center center;
  }
}
@media (min-width: 768px)  {
  #banner {
  margin-top: -50px;
  padding-top: 0px;
  padding-bottom: 50px;
  background: url(../img/gevels.jpg) no-repeat center center;
  }
}

/* force style in acknowledgement to style used by Mobirise */

#acknowledge > div {
  margin-top:2em;
}

#acknowledge p {
  text-align:center;
  margin:0;
}

#acknowledge p a {
  color:#ffffff;
}

/* don't put footer on non-front page too high */
/* so page doesn't look squashed */
#page-content {
  min-height:400px;
}

/* adapt style of non-frontpage footer to style used by Mobirise */
/* use id #footer-bootstrap3 to select this situation */

#footer-bootstrap3 p, 
#footer-bootstrap3 p a
{
  color:#ffffff;
  text-decoration:none;
  font-size:12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 350;
}

#footer-bootstrap3 strong {
  color: #7c7c7c;
  font-size:1.6rem;
  font-weight:700;
  letter-spacing:-1px;
  line-height: 5em;
  margin-bottom: 1.875em;
}

/* === individual tweaks */

#user-change-form label {
  font-size:80%;
  font-weight:500;
  padding-top:0.3em;
}

/* Centered full-width acknowledgement becomes ugly when columns above stack */
/* Make paras narrow at same breakpoint */
@media (max-width: 767px)  {
  #acknowledge p { max-width:150px; }
}

/* prevent ugly line-break in "Talks & events" by providing enough space */
/* Must not apply below 992x as text is hidden then */
@media (min-width: 992px)  {
  #talks-menu-head {
    min-width:90px;
  }
}

/* less empty space between keynote speaker pics and title */
#keynote_speakers .mbr-cards-col {
  padding-top: 1em;
}

#venue_intro .mbr-section {
  padding-top: 0px;
}

/* === styling for combined login/register template (templates/login) */

.logreg_button {min-width:240px}

@media (max-width:767px) {
  .logreg_title { text-align:center;margin-top:0.5em; margin-bottom:0.5em}
  .logreg_alert {}
  #logreg_account_hint  {font-size:80%}
  #logreg_smaller_label {}
}
@media (min-width:768px) {
  .logreg_title { text-align:center;margin-top:1em; }
  .logreg_alert {height:120px}
  #logreg_account_hint  {height:40px;font-size:70%}
  #logreg_smaller_label {height:30px;font-size:70%;}
}

@media (max-width: 767px) {
  #logreg_spacer_req    {}
  #logreg_spacer_email  {}
}
@media (min-width: 768px) and (max-width: 991px) {
  #logreg_spacer_email  {height:5px}
  #logreg_spacer_req    {height:20px}
}
@media (min-width: 992px) {
  #logreg_spacer_email  {height:10px;}
  #logreg_spacer_req    {height:44px;}
}

/* === styling for registration feedback */

.reg_status_in_banner_para {
  color:white;
  background-color:#aaa;
  text-align:center;
  font-size:70%;
  border-radius:10px;
  opacity: 0.8;
  padding: 0 1em;
}

.reg_status_in_banner_para a {
   color:white;
   text-decoration:underline;
}

/* xs */
@media (max-width: 543px)  {
  .reg_status_in_banner {
	height:60px;
	position:absolute;
	top:150px;
	right:10px;
	font-size:80%;
  }
  #reg_status_extra_space { height:40px;}
}

/* sm */
@media (min-width: 544px) and (max-width: 767px)  {
  .reg_status_in_banner {
	height:80px;
	position:absolute;
	top:150px;
	right:10px;
  }
  #reg_status_extra_space { height:60px;}
}

/* md */
@media (min-width: 768px) and (max-width: 1199px)  {
  .reg_status_in_banner {
	height:80px;
	position:absolute;
	top:60px;
	right:0px;
  }
  #reg_status_extra_space { height:0px;}
}

/* lg and up */
@media (min-width: 1200px)  {
  .reg_status_in_banner {
	height:80px;
	position:absolute;
	top:60px;
	right:0px;
  }
  #reg_status_extra_space { height:0px;}
}

/* === styling for price table */

.price_table_intro {
}

.price_table_intro a {
  color:#CD9B1D;
}

.price_table_head {
  font-size:80%;
  font-weight:bold;
  border-width:1px;
  border-color:#888;
  border-style:solid solid solid solid;
}

.price_table_rows {
  font-size:80%;
  border-width:1px;
  border-color:#888;
  border-style:none solid solid solid;
  min-height:50px;
}

/* sm and down */
@media (max-width: 767px) {

  .price_table_rows form {}
  
  .price_table_col1 {font-weight:bold;}
  .price_table_col2 {}
  .price_table_col3 {}
  .price_table_col4 {text-align:center;margin-bottom:10px;}
}

/* md and up */
@media (min-width: 768px) {
   .price_table_head {
     background-color:#aaa;
     color:white;
   }
  .price_table_rows input { position:relative;top:10px; }
  
  .price_table_col1 {}
  .price_table_col2 {text-align:center;}
  .price_table_col3 {}
  .price_table_col4 {text-align:center;}
}

/* === styling for talks list === */

#talks_page { color:grey; }

.talksTable.table-striped>tbody>tr:nth-child(odd) {
  background-color: transparent;
}

.talksTable.table-striped > tbody > tr:nth-child(2n+1) > td {
    background-color:rgb(130,10,10);
}

.talksTable ,
.show-talk
{
	color:#bbb;;
}

.talksTable.table-bordered, 
.talksTable.table-bordered > thead > tr > th, 
.talksTable.table-bordered > tbody > tr > th, 
.talksTable.table-bordered > tfoot > tr > th, 
.talksTable.table-bordered > thead > tr > td, 
.talksTable.table-bordered > tbody > tr > td, 
.talksTable.table-bordered > tfoot > tr > td
{
	border-color:#ccc;
	border: 0px;
}

.talksTable   a ,
.show-talk a
{ 
  color:white; 
}

.show-talk ,
.show-talk .panel
{
  background-color:rgb(109,10,10);
}

#htmltagcloud 				a {color:#eeeeee; }
#htmltagcloud .tagcloud5 	a {color:#dddddd; }
#htmltagcloud .tagcloud4 	a {color:#cccccc; }
#htmltagcloud .tagcloud3 	a {color:#bbbbbb; }
#htmltagcloud .tagcloud2 	a {color:#aaaaaa; }
#htmltagcloud .tagcloud1 	a {color:#999999; }
#htmltagcloud .tagcloud0 	a {color:#888888; }

#talk_list_update .btn-primary {
  background-color:#c0a375;
  border-color:white;
}