[%
    SET CMS.index = {
        title = "An awesome line-up of world class speakers",
        items = [
            'Larry_Wall',
            'Sawyer_X',
            'Curtis_ovid_Poe'
        ],
        texts = [ ],
    }
%]
