[%
    SET CMS.index = {
        title = "An awesome line-up of world class speakers",
        items = [
            'Larry_Wall',
	          'Damian_Conway',
            'Ruth_Holloway'
	          'Brian_d_foy',
	          'Curtis_ovid_Poe',
            'Sawyer_X',
        ],
        texts = [ ],
    }
%]
