[%
    SET CMS.index = {
        title = "Lodging, where to sleep?", 
        items = [
            'corendon',
            'artemis',
        ],
        texts = [
           "We want you to enjoy the conference, but a good place to sleep is
            also very important.",
            
           "Below, you will find some recomendations and useful information to
            book your place.",
        ],
    }
%]
