[%
    SET CMS.index = {
        title = "TEST CMS from INDEX", 
        items = [
            'item_1',
            'item_2',
        ],
        image = "test.jpg",
        texts = 
            "This is just the begining of what can be done"
            _ '¶' _
            "We will see more soon",
    }
%]
